/* Basic sample */

body{
	overflow:hidden;
	background-color:#f5f2eb;
	margin:0;
	padding:0;
}

.image-bg {
	background-image: url(../pages/BG.jpg);
	width: 100%;
	height: 100%;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	/* position:absolute; */
	position:fixed;
	top:50%;
	left:50%;
	margin:auto;
	z-index: 9999;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	/* left:-461px;
	top:-300px; */

	/* left: -31.5rem; */
    /* top: -21rem; */
	left: -44vw;
	top: -50vh;
	transform: translate(-2%, 0%);
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

/* ============================================ */
/* #html-spinner {
	width: 40px;
	height: 40px;
	border: 4px solid #fcd779;
	border-top: 4px solid white;
	border-radius: 50%;
}

#html-spinner, */
#svg-spinner {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 3.2s;
	-webkit-animation-name: rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-transition-property: -moz-transform;
	-moz-animation-name: rotate;
	-moz-animation-duration: 3.2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	transition-property: transform;
	animation-name: rotate;
	animation-duration: 3.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


/* Rest of page style
body {
	background: #FABC20;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #393D3D;
} */

#container {
	width: 90%;
	max-width: 700px;
	margin: 1em auto;
	position: relative;
}

/* spinner positioning */

#html-spinner,
#svg-spinner {
	position: absolute;
	bottom: -250px;
	margin-left: -24px;
	width: 500px;
}

#html-spinner {
	left: 25%;
}

#svg-spinner {
	left: -250px;
}

#html-para,
#svg-para {
	position: absolute;
	top: 100px;
	width: 40%;
	padding: 5%;
	text-align: center;
}

#svg-para {
	left: 50%;
}
